body { 
    background-color: lightblue;
    font-size: 10px; 
    font-weight: black;
}

#copy { 
    text-align:center;
    color: black; 
    font-size: 16px; 
    }
    #bloque1 {
  background-color: gold; 
  border: 2px solid;
  margin-top: 3px;
  margin-bottom: 5px;    
}
#bloque2 {
  background-color: silver;
  border: 2px solid;
}
.image {
  text-align:center;
}
 #map {
        height: 400px; 
        width: 100%;
        margin-top: 20px;